<form method="post" action="/posts/<%= @post.id %>/comentarios">
  <label> Insira um comentario: </label> <br />
  <textarea cols="50" rows="10" name="comentario[conteudo]" id="comentario_conteudo"></textarea> <br />
  <br />
  <input type="submit" value= "Comentar" />
</form>
