<h2>Novo Post</h2>
<form action="/novo_post" method="post">
  <label for="post_titulo">Titulo</label>
  <input type="text" name="post[titulo]" id="post_titulo" />

  <label for="post_conteudo">Conteudo</label>
  <textarea name="post[conteudo]" id="post_conteudo"></textarea>
  <input type="submit" value="Postar" />
</form>
