<form action="/procurar" method="post">
  <label for="busca_titulo">Buscar por:</label>
  <input name="busca_titulo" id="busca_titulo" type="text" />
  <input type="submit" value="Procurar" />
</form>

